* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 33%;
    height: 100vh;
    background-color: aliceblue;
    border-radius: 7px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container .banner{
    width: 100%;
    height: fit-content;
    position: relative;
}

.container .banner img{
    width: 100%;
}

.container .banner button{
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.container .info{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.container .info img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.container .info p{
    font-weight: 600;
}

.container .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container .content p{
    color: rgb(88, 88, 88);
}

.container .content h2:hover{
    color: royalblue;
}



